BasedOnStyle: Google

IndentWidth: 2  
ColumnLimit: 80
UseTab: Never

IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^".*\.h"'
    Priority: 3
  - Regex: '^"'
    Priority: 4
IncludeIsMainRegex: '(Test)?$'
SortIncludes: true
IncludeIsMainSourceRegex: ''

IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
    Separator:       'Always'

  - Regex:           '^<.*>'
    Priority:        2
    SortPriority:    1
    CaseSensitive:   false
    Separator:       'Always'

  - Regex:           '^".*\.h"'
    Priority:        3
    SortPriority:    2
    CaseSensitive:   false
    Separator:       'Always'

  - Regex:           '^".*"'
    Priority:        4
    SortPriority:    3
    CaseSensitive:   false
    Separator:       'Always'

AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializersBeforeComma: false
SpacesInAngles: false
Standard: Cpp20

NamespaceIndentation: None

PointerAlignment: Left

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true

BraceWrapping:
  AfterClass: false
  AfterControlStatement: true
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
BreakStringLiterals: true

SpaceBeforeParens: ControlStatements

PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60

ReflowComments: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpacesBeforeTrailingComments: 2
SpaceInEmptyParentheses: false

